body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/**/
/*Obtenido de https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_colspan*/
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
/**/
